*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    background-color: #000000;
    color: #dddddd;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}


.rows 
{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}


/*----------------------------------------------- Greeting page Start-------------------------------------------------------------------------- */

header
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(Resources/Images/white-all-we-have-is-now-neon-signage-on-black-surface-1580625.jpg);
    background-size:cover;
    background-position:center;
    height: 100vh;
    background-attachment: fixed;
    
}

h1
{
    margin: 0;
    font-family: 'Lato';
    font-size: 150%;
    color: #939393;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    word-spacing: 2px;
    
}

h3
{
    margin: 0;
    margin-left: 20px;
    font-family: 'Lato';
    font-size: 150%;
    color: #f7f7f7;
    font-weight: 150;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    word-spacing: 2px;
    
}
.message_1 
{
    position: absolute;
    width: 1140px;
    top: 72%;
    left: 10%;
}


.btn:link,
.btn:visited,
input[type=submit]
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 200;
    text-decoration: none;
    border-radius: 400px;
    transition: background-color 0.2s,border 0.2s,color 0.2s;
    
}

.btn1:link,
.btn1:visited,
input[type=submit]
{
    background-color: black;
    color: whitesmoke;
    border: 1px solid #ffffff;
    font-weight: 400;
}

.btn1:hover,
.btn1:active,
input[type=submit]
{
    background-color: #101010;
}


/*-----------------------------------------------------Greeting page End------------------------------------------------------------------------*/
.main_nav {
    float: left;
    list-style: none;
    margin-top: 55px;
    
}

.main_nav li
{
    display: inline-block;
    margin-left: 40px;
    
}

.logo_img {
    margin-left: 50px;
    margin-right: 50px;
    height: 150px;
    width: auto;
    float: left;
}

.main_nav li a:link,
.main_nav li a:visited
{
    padding: 8px 0;
    color: white;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}


.main_nav li a:hover,
.main_nav li a:active
{
    border-bottom: 2px solid whitesmoke;
}
.about_us {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(Resources/Images/gray-owl-showing-orange-and-black-left-eye-148275.jpg);
    background-size:cover;
    background-position:center;
    height: 100vh;
    
    
    
    
}

h2
{
     margin: 0;
    font-family: 'Lato';
    font-size: 150%;
    color: #c1c1c1;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 30px;
    
}



h3
{
    margin: 0;
    font-family: 'Lato';
    font-size: 125%;
    color: #c1c1c1;
    font-weight: 400;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-top: 20px;
    margin-bottom: 15px;
}

.rog
{
    margin: 0;
    font-family: 'Lato';
    font-size: 150%;
    color: whitesmoke;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 30px;
    
}

section
{
    padding: 80px 0;
}

.box
{
    padding: 1%;
}

.box p
{
    font-size: 98%;
    line-height: 145%;
}

ion-icon
{
    font-size: 56px;
}



.hari {
    height: 500px;
    margin-left: 300px;
    padding-top: 30px;
    opacity: 0.9;
}

.vilas_t {
    height: 500px;
    margin-left: 300px;
    padding-top: 30px;
    opacity: 0.9;
}

.emer_guide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(Resources/Images/key.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    background-attachment: fixed;
}
.hari_name {
    padding-left: 410px;
}

.vilas_name {
    padding-left: 225px;
}

.hari:hover
{
    transform: scale(1.03);
    transition: transform 0.5s;
    overflow: hidden;
    opacity: 1.0;

}

.vilas_t:hover
{
    transform: scale(1.03);
    transition: transform 0.5s;
    overflow: hidden;
    opacity: 1.0;
}

.how_it_works {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(Resources/Images/ques.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    
}


.steps-box
{
    margin-top: 30px;
}

.steps-box:first-child
{
    text-align: left;
    padding-right: 3%;
}

.steps-box:last-child
{
    padding-left: 3%;
    
}

.work_step
{
    margin-bottom: 50px;
}

.work_step:last-of-type
{
    margin-bottom: 100px;
}
.work_step div
{
    color: whitesmoke;
    border: 2px solid whitesmoke;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.work_step p
{
    font-size: 150%;
    color: whitesmoke;
}

.g,
.a
{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.hold
{
    height: 400px;
    float: right;
}

.mys_img
{
    height: 200px;
    margin-left: 25px;
    width: auto;
    margin-right: 25px;
}

.city_feature
{
    margin-bottom: 10px;
}

.city_feature ion-icon
{
    font-size: 24px;
    margin-left: 25px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 10px;
}
.loca
{
    margin-left: 25px;
}
.teams {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(Resources/Images/cyoper.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    background-attachment: fixed;
}


.signup_form
{
    padding-left: 100px;
}

input[type=text],
input[type=email]
{
    width: 50%;
    padding: 7px;
    border-radius: 3px;
}

.signup_form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(Resources/Images/black-textile-952670.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.sign_me_up
{
    font-weight: 400;

}

.rog_beh {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(Resources/Images/close-up-photography-of-tiger-792381.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


footer
{
    background-color: #333;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.footer_nav
{
    list-style: none;
    float: left;

}

.social_links
{
    float: right;
    list-style: none;
    
}

.footer_nav li,
.social_links li
{
    display: inline-block;
    margin-right: 20px;
}

.social_links ion-icon
{
    height: 24px;
    
}

.footer_nav li a:link,
.footer_nav li a:visited
{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.social_links li a:link,
.social_links li a:visited
{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer_nav li a:hover,
.footer_nav li a:active
{
    color: #ddd;
}

footer p
{
    text-align: left;
    font-size: 100%;
    margin-top: 30px;
}

.social_links li a:link,
.social_links li a:visited
{
    font-size: 180%;
}